.search{
    margin-top: 5px;
    overflow: hidden;
}
.logo{
    float: left;
    margin-left:-57px;
}
.search-box{
    float: left;
   margin-left: 70px;
   margin-top: 30px;
   overflow: hidden;
}
.search-txt{
    width: 483px;
    height: 26px;
    padding: 5px 3px 5px 5px;
    border:2px solid #ff0036;
    outline: 0;
    float: left;
    font-size: 14px;
}
.search-btn{
    background: #ff0036;
    width: 132px;
    height: 40px;
    outline: 0;
    float: left;
    border: 2px solid #ff0036;
    color: #fff;
    font-size: 18px;
    letter-spacing: 5px;
}

.search-list{
    margin-top:8px;
    margin-left:-13px;
}
.search-list li{
    float: left;
    line-height: 1.1;
    padding: 0 12px;
    border-left: 1px solid #ccc;
}
.search-list li a{
    color: #999;
}
.search-list li.red a{
    color: #ff0036;
}
.inner-cont{
    height: 35px;
    line-height: 35px;
    width: 1030px;
    margin:0 auto;
    padding-left:200px;
    overflow: hidden;
    border-bottom: 2px solid #ff0036;
}
.inner-cont img{
    width: 100px;
    height: 30px;
    margin-top:2px;
    float: left;
}
.inner-cont>a{
    color: #333;
    height: 35px;
    margin: 0 8px;
    float: left;
    font-size: 16px;
}
.inner-cont>a:hover{
    color:#ff0036;
}




/* 主内容区域 */
.content{
    height: 530px;
    background: url(../images/bg.jpg) center -207px no-repeat;
}
.slide-content{
    height: 500px;
    width: 1230px;
    margin:0 auto;
    background: #f000f0;
    position: relative;
}
.category{
    width: 200px;
    height: 500px;
    /* background: #cccccc; */
    /* margin-top:-20px; */
    position: absolute;
    top:-36px;
    z-index:2;
}
.cate-title{
    height: 36px;
    line-height: 36px;
    color: #fff;
    background: #ff0036;
    font-size: 16px;
}
.main-cate-box{
    background: rgba(0,0,0,0.55);
    height: 500px;
    position: relative;
}
.category .main-cate{
    height: 31px;
    line-height: 31px;
    padding: 0 8px;
}
.main-cate>a{
    color: #fff;
    font-size: 14px;
}
.category .main-cate:hover{
    background: #fff;
}
.category .main-cate:nth-child(1):hover>a,.category .main-cate:nth-child(1):hover>i{
    color:#e54077;
}
.category .main-cate:nth-child(2):hover>a{
    color:blue;
}
.cate-sub-list{
    width: 805px;
    height: 500px;
    background: #ffffff;
    position: absolute;
    left: 200px;
    top:0px;
    display: none;
}
.category .main-cate:hover .cate-sub-list{
    display: block;
}
.list-left{
    width: 543px;
    height: 462px;
    /* background: #ff0000; */
    float: left;
    padding: 19px 30px;
}
.list-right{
    width: 189px;
    height: 500px;
    /* background: #0000ff; */
    float: right;
}
.left-list-title{
    width: 92px;
    float: left;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 5px;
    /* background: #f000f0; */
}
.left-list-content{
    width: 451px;
    float: left;
    /* background: #999; */
    border-bottom:1px dashed rgba(0,0,0,.1)
}
.left-list-content a{
    color: #666;
    font-size:14px;
    margin-right:13px;
}
.left-list-content li{
    float: left;
}
.list-left-row{
    margin:5px 0;
}
.left-list-content a.special-color{
    color:#e54077;
}
/* 轮播图 */
.slide-img-box img{
    width: 1230px;
    display: block;
    height: 500px;
}

.slide-box{
    position: relative;
    height: 500px;
}

.slide-box a{
    position: absolute;
    left:0px;
    top:0px;
    /* z-index:-1; */
}
.slide-btn-box{
    position: absolute;
    bottom:50px;
    left:50%;
    background: yellow;
    width:200px;
    /* 已知宽度 */
    /* margin-left:-100px; */
    /* 不知道宽度  css3 transform: translateX(-50%); */
    transform: translateX(-50%);

}
/* 品牌闪购 */
.brand-sale{
    height: 390px;
    margin-top:30px;
}
.brand-list{
    width: 234px;
    background: #fff;
    float: left;
    margin-right: 12px;
}
.brand-list-title{
    padding-left:10px;
    height: 54px;
    line-height: 54px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.brand-title-cn{
    font-size: 18px;
    color: #333;
    font-weight: 700;
    margin-right:4px;
}
.brand-title-en{
    font-size: 18px;
    color: #333;
    font-weight: 700;
}
.brand-more{
    float: right;
    height: 18px;
    margin-top:5px;
    margin-right:15px;
}
.brand-more img{
    width:18px;
    height: 18px;
    margin-left: 5px;
    /* margin-top:10px; */
}
.brand-more2 span{
    color:#999;
    line-height: normal;
    vertical-align: 3px;
}
.brand-list-img img{
    width: 234px;
    height: 316px;
    display: block;
}
.brand-list02{
    width: 485px;
    background: #fff;
    float: left;
   
}
.brand-list03{
    width: 485px;
    background: #fff;
    float: right;
    
}
.brand-list-img02 img{
    width: 485px;
    height: 316px;
    display: block;
}
.brand-list-img:hover img{
    opacity: 0.8;
}


/*十个框*/
.list-item{
    width: 122px;
    height: 108px;
    background: #fff;
    padding-top: 29px;
    box-sizing: border-box;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    position: relative;
}
.list-item img{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    display: block;
}
.list-hover{
    width: 122px;
    height: 108px;
    background:rgba(0,0,0,0.8);
    position: absolute;
    left:0px;
    top: 0px;
    display: none;
}
.b-list-word{
    color: #fff;
    margin-top: 30px;
    text-align:center;
}
.b-list-btn{
    color: #fff;
    background: #ff0036;
    display: block;
    width: 65px;
    height: 18px;
    text-align:center;
    line-height: 18px;
    border-radius:10px;
    margin: 5px auto;
}
.list-item:hover .list-hover{
    display: block;
}